.upcomingTrips {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 30px;
  width: 100%;

  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.header p {
  font-size: 1rem;
  font-weight: 700;
  color: #111827;
}
