.tripStatsGrid {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
}

.tripStatsGridCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px;
}

.tripStatsGridCard svg {
  color: #0058bc;
}

.tripStatsGridCard p {
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.33px;
  color: #717786;
}

.tripStatsGridCard span {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  color: #151c27;
}

@media (min-width: 768px) {
  .tripStatsGrid {
    padding: 0 32px;
    gap: 16px;
  }

  .tripStatsGridCard {
    padding: 20px;
  }

  .tripStatsGridCard span {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .tripStatsGrid {
    padding: 0;
  }

  .tripStatsGridCard {
    padding: 24px;
    border-radius: 16px;
  }
}
