.checkoutFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 16px 16px 32px 16px;
  background-color: #fff;
  border-radius: 24px 24px 0 0;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalAmount span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #717786;
}

.totalAmount p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.24px;
  color: #0058bc;
}

.confirmButtonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .checkoutFooter {
    padding: 16px 32px 32px;
    flex-direction: row;
    align-items: center;
    border-radius: 24px 24px 0 0;
  }

  .totalAmount {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .checkoutFooter {
    padding: 16px 48px 24px;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 24px 24px 0 0;
  }
}
