.roleHeader {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.roleHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.roleHeaderContainer img {
  max-width: 350px;
  height: 400px;
}

.roleHeaderContainer h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  color: #151c28;
  width: 70%;
}

.roleHeaderContainer p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #424753;
}
