.bookingActions {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 12px;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

@media (min-width: 768px) {
  .bookingActions {
    padding: 16px 32px;
    flex-direction: row;
    align-items: stretch;
  }
}

@media (min-width: 1024px) {
  .bookingActions {
    padding: 16px 0;
    gap: 16px;
  }
}
