.tripSelector {
  padding: 16px;
}

.tripSelectorContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  padding: 32px 16px 16px 16px;
  border-radius: 12px;
}

.tripSelectorLocate {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  background-color: #dadada;
  transition: 0.2s ease;
}

.tripSelectorLocate:focus-within {
  border-color: #0057d9;
  box-shadow: 0 0 0 3px rgba(0, 87, 217, 0.1);
}

.tripSelectorLocate input {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0;
}

.tripSelectorLocate input::placeholder {
  color: #717786;
}

.iconStart {
  font-size: 1.3rem;
  color: #0057d9;
  flex-shrink: 0;
}

.iconEnd {
  font-size: 1.3rem;
  color: #059669;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .tripSelector {
    padding: 16px 32px;
  }

  .tripSelectorContainer {
    padding: 32px 24px 24px;
    border-radius: 16px;
    gap: 12px;
  }

  .tripSelectorLocate {
    padding: 14px 16px;
  }
}

@media (min-width: 1024px) {
  .tripSelector {
    padding: 16px 0;
  }

  .tripSelectorContainer {
    flex-direction: row; 
    align-items: center;
    padding: 24px;
    gap: 16px;
  }

  .tripSelectorLocate {
    flex: 1;
  }
}
