.quickFilters {
  margin-bottom: 20px;
}

.quickFilters::-webkit-scrollbar {
  height: 6px;
}

.quickFilters::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 999px;
}

.quickFilters::-webkit-scrollbar-thumb {
  background: #0057d9;
  border-radius: 999px;
}

.filterList {
  padding: 0 16px;

  width: 100%;

  display: flex;
  align-items: center;
  gap: 12px;

  overflow-x: auto;

  padding-bottom: 0.5rem;

  scrollbar-width: thin;
  scrollbar-color: #0057d9 #e5e7eb;
}

.filter {
  min-width: max-content;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 8px 16px;
  border-radius: 999px;

  background: #e7eefe;

  color: #4b5563;
  font-size: 0.95rem;
  font-weight: 500;

  cursor: pointer;

  transition: 0.2s ease;

  flex-shrink: 0;
}

.filter svg {
  width: 1rem;
  height: 1rem;
}

.filter:hover {
  filter: brightness(0.97);
}

.active {
  background: #0057d9;
  color: #fff;
}

@media (min-width: 768px) {
  .filterList {
    padding: 0 32px 0.5rem;
    gap: 14px;
  }

  .filter {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  .filterList {
    padding: 0 0 0.5rem;
    flex-wrap: wrap; 
    overflow-x: visible;
  }

  .quickFilters::-webkit-scrollbar {
    display: none;
  }
}
