.welcomeSection {
  padding: 16px;
}

.welcomeSection h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.64px;
  color: #151c27;
}

.welcomeSection h1 span {
  color: #0058bc;
}

.welcomeSection p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 400;
  color: #414755;
}

@media (min-width: 768px) {
  .welcomeSection {
    padding: 24px 32px;
  }

  .welcomeSection h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .welcomeSection p {
    font-size: 15px;
    line-height: 22px;
    max-width: 560px;
  }
}

@media (min-width: 1024px) {
  .welcomeSection {
    padding: 32px 0;
  }

  .welcomeSection h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
  }

  .welcomeSection p {
    font-size: 16px;
    line-height: 24px;
    max-width: 640px;
  }
}
